.full-hero {
  border: none;
  color: #fff;
  padding: 4rem 3rem;
  background-size: cover;
  background-position: center;
  background-color: #f2f2f23f;
  height: 70vh;
  display: flex; 
  vertical-align: middle;
  align-items:center; 
}

.full-hero__inner {
  max-width: 560px;
}

.full-hero__actions {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}

.full-hero .button.ghost {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.6);
}
